{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} Formulario Hora Extra {% endblock title %}
{% block body %}
    <form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <br>
    <button class="btn btn-primary" type="submit">Salvar</button>
    {% if object %}
    <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger"> Delete</a>
    <button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-primary" type="button"> Marcar como Utilizado</button>
    <button onclick="naoUtilizouHoraExtra({{ object.id }})" class="btn btn-danger" type="button"> Marcar como Não Utilizado</button>
    </form>
    <h6 id="horas_atualizadas"> {{ object.funcionario.total_horas_extra }}</h6>
    {% endif %}
    <br>
    <p id="mensagem"></p>


{% endblock body %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funcoes-ajax.js' %}"></script>
{% endblock static%}