{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Formulario Funcionario {% endblock title %}
{% block body %}
    <form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit">Salvar</button>
    </form>
<br>
<h2>Documentos</h2>
<ol>
{% for documento in object.documento_set.all %}

    <li><a href="{{ documento.arquivo.url }} "> {{ documento.descricao }}  </a></li>
{% endfor %}
</ol>
<a href="{% url 'create_documento' object.id %}" class="btn btn-success">    Adicionar documento	</a>
<br>

<br>
<h2>Banco de Horas</h2>
<ol>
{% for registro_hora in object.registrohoraextra_set.all %}

    <li>Motivo: {{ registro_hora.motivo }},  Quantidade de horas: {{ registro_hora.horas }}</li>
{% endfor %}
    <h3>Total Hora Extra {{object.total_horas_extra}}h</h3>
{% endblock body %}