{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
        olá {{ usuario.funcionario.nome }}    </div>
      <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a>
      <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
        {% if usuario.funcionario.empresa %}
        <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Modificar empresa</a>
        {% else %}
        <a href="{% url 'create_empresa' %}">Criar empresa</a>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</div>


  {% endblock body %}